# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

# EditorConfig is awesome: http://EditorConfig.org
# This configuration is respected by multiple editors

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
trim_trailing_whitespace = true
file_header_template = Copyright (c) Microsoft Corporation. All rights reserved.\nLicensed under the MIT License.

[{*.cs, *.vb}]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1852.severity = none
dotnet_diagnostic.CA1014.severity = none
dotnet_diagnostic.CA1805.severity = none
dotnet_diagnostic.CA1502.severity = none
dotnet_diagnostic.CA1813.severity = none
dotnet_diagnostic.CA5392.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1016.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1711.severity = none

[{*.csproj, *.vcxproj, *.xml}]
indent_size = 2
