# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

# EditorConfig is awesome: http://EditorConfig.org
# This configuration is respected by multiple editors

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
trim_trailing_whitespace = true