<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='Microsoft ClrInstrumentationEngine $(var.Version) ($(sys.BUILDARCH))'
             Manufacturer='Microsoft Corporation'
             Id='*'
             UpgradeCode='$(var.UpgradeGuid)'
             Language='0'
             Codepage='1252'
             Version='$(var.Version)'>
        <Package Id='*'
                 Keywords='Installer'
                 Description='Microsoft ClrInstrumentationEngine $(var.Version) ($(sys.BUILDARCH)) Installer'
                 Comments='Copyright (c) All Rights Reserved.'
                 Manufacturer='Microsoft Corporation'
                 InstallerVersion='200'
                 InstallPrivileges='elevated'
                 InstallScope='perMachine'
                 Platform='$(sys.BUILDARCH)'
                 Languages='0'
                 Compressed='yes'
                 SummaryCodepage='1252' />
        <Media Id='1'
               Cabinet='InstrumentationEngine_$(sys.BUILDARCH).$(var.Version).cab'
               EmbedCab='yes' />
        <Directory Id='TARGETDIR' Name='SourceDir'>
<?if $(sys.BUILDARCH) = x64?>
            <Merge Id="ClrInstrumentationEngine"
                   Language="0"
                   SourceFile="$(var.OutputPath)InstrumentationEngine.Module_x64.$(var.PackageVersion).msm"
                   DiskId="1" />
<?else?>
            <Merge Id="ClrInstrumentationEngine"
                   Language="0"
                   SourceFile="$(var.OutputPath)InstrumentationEngine.Module_x86.$(var.PackageVersion).msm"
                   DiskId="1" />
<?endif?>
        </Directory>
        <Feature Id="ClrInstrumentationEngineFeature">
            <MergeRef Id="ClrInstrumentationEngine" />
        </Feature>
    </Product>
</Wix>
