<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Module Id='ClrInstrumentationEngine_x86.1.0.21'
            Language='1033'
            Codepage='1252'
            Version='1.0.21'>
        <Package Id='{C51DDDDA-1DF9-4F5A-959D-10EC38BDC714}'
                 Keywords='Installer'
                 Description='Microsoft ClrInstrumentationEngine 1.0.21 (x86) Installer'
                 Comments='Copyright (c) All Rights Reserved.'
                 Manufacturer='Microsoft Corporation'
                 InstallerVersion='200'
                 InstallPrivileges='elevated'
                 InstallScope='perMachine'
                 Platform='x86'
                 Languages='1033,0'
                 SummaryCodepage='1252' />
<Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder" Name="PFiles32">
        <Directory Id="InstrumentationEngine32" Name="InstrumentationEngine">
            <Directory Id="Version32" Name="1.0.21">
                <Directory Id="Instrumentation32" Name="Instrumentation32">
                    <Directory Id="base32" Name="base">
                        <Component Id="DiagnosticsExtensionsBase32.1.0.21" Guid="{86BF2AED-4A1F-40BA-AF8E-F4F5A7115409}" Win64="no">
                            <RemoveFolder Id="base32" On="uninstall" />
                            <File Id="DiagnosticsExtensionsBase32" Name="Microsoft.Diagnostics.Instrumentation.Extensions.Base.dll" KeyPath="yes" Source="$(var.BinOutputPath)\AnyCPU\Microsoft.Diagnostics.Instrumentation.Extensions.Base.dll" />
                        </Component>
                        <Component Id="ExtensionsBase32.1.0.21" Guid="{7712A1C2-068F-4920-B7FE-7332711C4828}" Win64="no">
                            <File Id="ExtensionsBase32" Name="Microsoft.InstrumentationEngine.Extensions.Base_x86.dll" KeyPath="yes" Source="$(var.BinOutputPath)\x86\Microsoft.InstrumentationEngine.Extensions.Base_x86.dll" />
                        </Component>
                        <Component Id="Config32.1.0.21" Guid="{59C57552-5429-4509-A937-FD851A1429EF}" Win64="no">
                            <File Id="Config32" Name="Microsoft.InstrumentationEngine.Extensions.config" KeyPath="yes" Source="$(var.BinOutputPath)\x86\Microsoft.InstrumentationEngine.Extensions.config" />
                        </Component>
                    </Directory>
                    <Component Id="InstrumentationEngine32.1.0.21" Guid="{B083ED82-CCE4-4405-AD72-D23A12A64520}" Win64="no">
                        <File Id="InstrumentationEngine32" Name="MicrosoftInstrumentationEngine_x86.dll" KeyPath="yes" Source="$(var.BinOutputPath)\x86\MicrosoftInstrumentationEngine_x86.dll" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
    </Directory>
</Directory>
    </Module>
</Wix>
