<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
      -->
<InstrumentationEngineConfiguration>
  <InstrumentationMethod>
    <Name>Runtime instrumentation agent Host Extension</Name>
    <Description>Enables Profiler Attach and Decorate scenarios</Description>
    <Module>Microsoft.InstrumentationEngine.Extensions.Base_x86.dll</Module>
    <ClassGuid>{E81C1F87-CCC7-4EC3-B27D-77A36E5A90AF}</ClassGuid>
    <Priority>50</Priority>
  </InstrumentationMethod>
</InstrumentationEngineConfiguration>