<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
      -->
<configuration>
  <packageSources>
    <clear />
    <add key="Debugger-x-plat" value="https://devdiv.pkgs.visualstudio.com/DefaultCollection/_packaging/Debugger-x-plat/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Debugger-x-plat>
    <!-- The following PAT allows reading from the DevDiv nuget feed. To update this PAT and for more information follow the following link.

      Expration date: 7/21/2019
      More information: onenote:https://microsoft.sharepoint.com/teams/DD_VSPlat/Diagnostics/Shared%20Documents/Debugger/OneNote/Debugger/3.%20Feature%20Design/MDD/XPlat%20CLR.one#Upgrading%20the%20PAT%20used%20in%20xplat%20nuget%20feeds&section-id={282BD224-3E32-4984-B3F3-4325AB3F4ACC}&page-id={7BD2E55E-AFD2-4E96-A05F-A6DF8E6B42A3}&end
      -->
      <add key="Username" value="PAT" />
      <add key="ClearTextPassword" value="kwcxgjhnqfwizlzjg5tn4ohiwbqcg23ndlhb6yuzdwnwdftlnvvq" /> <!--[SuppressMessage("Microsoft.Security", "CS001:SecretInline", Justification="To Linux/Mac builds to access required packages, the following PAT must be checked in. This PAT allows only read access, and only packages for this reason.")]-->
    </Debugger-x-plat>
  </packageSourceCredentials>
</configuration>
