<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
      -->
<configuration>
  <packageSources>
    <clear />
    <add key="InstrumentationEngine" value="https://devdiv.pkgs.visualstudio.com/_packaging/InstrumentationEngine/nuget/v3/index.json" />
    <add key="Debugger-x-plat" value="https://devdiv.pkgs.visualstudio.com/DefaultCollection/_packaging/Debugger-x-plat/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <!--
      The script /src/unix/scripts/prep-credentials.sh will read this file and replace all instances of "PersonalAuthenticationToken" encosed by "{}" characters with the PAT
      The path /src/unix/dependencies/nuget.config will be the file generated at build time containing the actual credentials.
      -->
    <Debugger-x-plat>
      <add key="Username" value="PAT" />
      <add key="ClearTextPassword" value="{PersonalAuthenticationToken}" />
    </Debugger-x-plat>
    <InstrumentationEngine>
      <add key="Username" value="PAT" />
      <add key="ClearTextPassword" value="{PersonalAuthenticationToken}" />
    </InstrumentationEngine>
  </packageSourceCredentials>
</configuration>
