<InstrumentationEngineConfiguration>
  <InstrumentationMethod>
    <Name>Seafood Instrumentation</Name>
    <Description>Dynamically make squids swim</Description>
    <Module>libLinuxProfiler.so</Module>
    <ClassGuid>{cf0d821e-299b-5307-a3d8-b283c03916dd}</ClassGuid>
    <Priority>50</Priority>
  </InstrumentationMethod>
</InstrumentationEngineConfiguration>