<InstrumentationEngineConfiguration>
  <InstrumentationMethod>
    <Name>Seafood Instrumentation</Name>
    <Description>Dynamically make squids swim</Description>
    <Module>libLinuxProfiler.so</Module>
    <ClassGuid>{CA487940-57D2-10BF-11B2-A3AD5A13CBC0}</ClassGuid>
    <Priority>50</Priority>
  </InstrumentationMethod>
</InstrumentationEngineConfiguration>