<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
<packages>
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.0.1" targetFramework="net45" />
  <package id="RemoteUnitTestExecutor" version="2.5.1" targetFramework="net45" />
</packages>