# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

name: Markdown Links Check

on:
  pull_request:
    branches:
    - main

permissions:
  contents: read

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845 # v2.4.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - uses: gaurav-nelson/github-action-markdown-link-check@5c5dfc0ac2e225883c0e5f03a85311ec2830d368 # v1
        with:
          config-file: .github/linters/check_links_config.json
          use-quiet-mode: 'yes'
          use-verbose-mode: 'no'